*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spoty-sidebar: #000;
    --spoty-white: #fff;
    --spoty-topbar: #080b12;
    --spoty-topbar-text: #7d7f84;
    --spoty-line: #adff2f;
    --spoty-primary-sidebar: #a3a3a3;
    --spoty-secondary-sidebar: #f8f8f8;
    --spoty-content: #141922;
    --spoty-bottom: #282828;
    --spoty-button: rgb(234, 234, 234)

}

/*#debug region*/

.debug *{
    border: 1px dashed;
}

/*#common region*/

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

i{
    text-align: center;
}

ul{
    list-style: none;
}

li{
    color: var(--spoty-primary-sidebar);
    line-height: 2rem;

    a{
        color: var(--spoty-primary-sidebar);
    }

    img{
        width: 20px;
    }

    a, img{
        vertical-align: middle;
    }
}

img{
    max-width: 100%;
}

.container{
    width: 100%;
}

h2, .img-title, .home, .playlist{
    color: var(--spoty-white);
}

[class^="col"], h2, .main-subtitle {
    padding: 0.75rem;
}

/*#utilities region*/
.d-flex{
    display: flex;
}

.m-top{
    margin-top: 0.5rem;
}

.my-2{
    margin-top: 1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.jc-end{
    justify-content: flex-end;
}

.ai-end{
    align-items: end;
}

.ai-center{
    align-items: center;
}

.fd-column{
    flex-direction: column;
}

.d-none{
    display: none;
}

.space-between{
    justify-content: space-between;
}

.jc-center{
    justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}

.round{
    border-radius: 50%;
}

.col-2{
    width: calc(100% / 12 * 2);
    
}

.img-title, .subtitle{
    text-align: center;
}

.img-title{
    font-weight: 800;
}

.subtitle{
    font-size: 0.8rem;
    font-weight: 600;
}

.subtitle, .main-subtitle{
    color: var(--spoty-topbar-text);
}

/*#top region*/

.top{
    height: calc(100% - 80px);
}

.sidebar{
    width: 180px;
    height: calc(100vh - 80px);
    background-color: var(--spoty-sidebar);
    flex-shrink: 0;
    position: relative;
}

.topbar{
    height: 60px;
    background-color: var(--spoty-topbar);
}

.content{
    height: 100%;
    width: calc(100% - 180px);
    background-color: var(--spoty-content);
    overflow-y: auto;
}

nav li{
    font-size: 0.8rem;
}

.logo img{
    padding: 0.5rem;
    width: 150px;
}

.library{
    margin-bottom: 0.5rem;
}

.tb-text{
    color: var(--spoty-button);
    padding: 0.75rem 1.25rem;
    border: 2px solid var(--spoty-button);
    border-radius: 1.5rem;
    font-size: 0.8rem;
}

.special{
    padding: 0.75rem;
}

.album-img{
    position: relative;
}

.img-content{
    position: absolute;
}

.album-img img:hover .img-content i{
    display: block;
}

.album-img img:hover{
    color: rgba(0, 0, 0, 0.5);
}

a:hover, .download a:hover, .left-icons i:hover{
    color: white;
}

.bg-grey:hover{
    background-color: white;
}

.topbar a:hover{
    font-size: 1rem;
}

.special:after{
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    background-color: var(--spoty-line);
    margin: auto;
}

.bg-grey{
    background-color: var(--spoty-primary-sidebar);
    padding: 1rem 0.6rem;
    color: var(--spoty-sidebar);
}

.profile-img{
    padding: 0.5rem 0;

    .img-title{
        font-size: 0.8rem;
    }
}

.profile-img img{
    width: 25px;
    background-color: var(--spoty-primary-sidebar);
    border-radius: 50%;
    margin-right: 10px;

}

.download:after{
    content: "";
    display: block;
    width: 9rem;
    height: 1px;
    background-color: var(--spoty-primary-sidebar);
    margin: auto;
    margin-top: 10px;
}

.download{
    margin-bottom: 0.5rem;
}

.download a, .install{
    color: var(--spoty-primary-sidebar);
}

.bottom-nav{
    position: absolute;
    bottom: 0;
}

.download img{
    width: 10px;
}

.ml{
    margin-left: 0.5rem;
}

.active{
    position: relative;
}

.special-sidebar::after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--spoty-line);
    position: absolute;
    left: -16px;
    top: 0;
}

nav{
    padding: 1rem;
}

/*bottom region*/

.bottom{
    height: 80px;
    background-color: var(--spoty-bottom);
}



.left{

    img{
        width: 50px;
        padding: 0.5rem;
        float: left;
    }

    
    .final.img-title, .final.subtitle{
        text-align: left;
    }
    .img-title, .subtitle{
        font-size: 0.7rem;
    }
}

.final.subtitle:hover{
    color: white;
    text-decoration: underline;
}

.left-icons{
    color: var(--spoty-primary-sidebar);
    padding: 1rem;
}

.center-icons i, .right-icons i, .audiobar > span{
    color: var(--spoty-secondary-sidebar);
}

.center-icons i{
    padding: 0.5rem 1.5rem;
}

.right-icons i{
    padding: 0.25rem 0.75rem;
    font-size: 0.8rem;
}

.timer{
    color: white;
    strong{
        font-size: 0.7rem;
    }
}

.audiobar{
    width: 300px;
    height: 2px;
}

.left-time{
    color: var(--spoty-topbar-text);
    width: 30%;
}

.right-time{
    color: var(--spoty-primary-sidebar);
    width: 70%;
}

.left-time, .right-time{
    height: 2px;
}

.fa-circle-play:hover{
    font-size: 3rem;
}

/* breackpoint lg maggiore di 1100px */
@media screen and (max-width: 1100px) {

    .col-lg-1 {
        width: calc((100% / 12) * 1);
    }

    .col-lg-2 {
        width: calc((100% / 12) * 2);
    }

    .col-lg-3 {
        width: calc((100% / 12) * 3);
    }

    .header li{
        font-size: 0.7rem;
    }

}


/* breackpoint m minore di 700 */
@media screen and (max-width: 700px) {

    .col-m-4 {
        width: calc((100% / 12) * 4);
    }

    .wraps{
        flex-wrap: wrap;
    }

    .li-sm{
        font-size: 0.6rem;
    }
    
}


/* breackpoint sm minore di 600 */
@media screen and (max-width: 600px) {

    .col-sm-6 {
        width: calc((100% / 12) * 6);
    }

    .col-sm-4 {
        width: calc((100% / 12) * 4);
    }

    .col-sm-3 {
        width: calc((100% / 12) * 3);
    }

    .sidebar-sm{
        width: 50px;
    }

    .d-nones{
        display: none;
    }

    .content-sm{
        width: calc(100% - 50px);
        overflow-y: auto;
    }

    /*.li-xm{
        font-size: 0.3rem;
    }*/

    .d-block{
        display: block;
        
    }

    .logo img{
        color: var(--spoty-white);
        width: 20px;
    }

    .download:after{
        display: none;
    }

    .icons-sm{
        font-size: 0.6rem;
    }

    .centers{
        width: 20%;
    }

}