*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spoty-sidebar: #000;
    --spoty-white: #fff;
    --spoty-topbar: #080b12;
    --spoty-topbar-text: #7d7f84;
    --spoty-line: #adff2f;
    --spoty-primary-sidebar: #a3a3a3;
    --spoty-secondary-sidebar: #f8f8f8;
    --spoty-content: #141922;
    --spoty-bottom: #282828;

}

/*#debug region*/

.debug *{
    border: 1px dashed;
}

/*#common region*/

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    line-height: 1.5rem;
    list-style: none;
}

li{
    color: var(--spoty-primary-sidebar);

    a{
        color: var(--spoty-primary-sidebar);
    }

    img{
        width: 20px;
    }

    a, img{
        vertical-align: middle;
    }
}

img{
    max-width: 100%;
}

.container{
    width: 100%;
}

h2, .img-title, .home, .playlist{
    color: var(--spoty-white);
}

[class^="col"], h2, .main-subtitle {
    padding: 0.75rem;
}

/*#utilities region*/
.d-flex{
    display: flex;
}

.my-2{
    margin-top: 1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.jc-end{
    justify-content: flex-end;
}

.ai-end{
    align-items: end;
}

.ai-center{
    align-items: center;
}

.fd-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.jc-center{
    justify-content: center;
}

.wrap{
    flex-wrap: wrap;
}

.round{
    border-radius: 50%;
}

.col-2{
    width: calc(100% / 12 * 2);
    
}

.img-title, .subtitle{
    text-align: center;
}

.subtitle, .main-subtitle{
    color: var(--spoty-topbar-text);
}
/*#top region*/

.top{
    height: calc(100% - 80px);
}

.sidebar{
    width: 180px;
    height: calc(100vh - 80px);
    background-color: var(--spoty-sidebar);
    flex-shrink: 0;
}

.topbar{
    height: 60px;
    background-color: var(--spoty-topbar);
}

.content{
    height: 100%;
    width: calc(100% - 180px);
    background-color: var(--spoty-content);
}

.logo img{
    padding: 0.5rem;
    width: 150px;
}

.tb-text{
    color: var(--spoty-topbar-text);
    padding: 0.5rem 1rem;
    border: 2px solid var(--spoty-topbar-text);
    border-radius: 1.5rem;
}

/*.special::after{
    content: "";
    display: block;
    width: 5.5rem;
    height: 50px;
    background-color: var(--spoty-line);
    margin-top: 1rem;
}*/

.bg-grey{
    background-color: var(--spoty-primary-sidebar);
}

span, .install img{
    color: var(--spoty-primary-sidebar);
}


/*strong.bg-grey{
    padding: 0.55rem;
}*/

.top-nav{
    width: 100%;
}

/*bottom region*/

.bottom{
    height: 80px;
    background-color: var(--spoty-bottom);
}

.left, .right, .center{
    height: 20px;
    width: 200px;
    background-color: aquamarine;
    border: 1px solid black
}

/* breackpoint lg maggiore di 1100px */
@media screen and (min-width: 1100px) {

    .col-lg-1 {
        width: calc((100% / 12) * 1);
    }

    .col-lg-2 {
        width: calc((100% / 12) * 2);
    }



}


/* breackpoint m minore di 700 */
@media screen and (max-width: 700px) {

    .col-m-3 {
        width: calc((100% / 12) * 3);
    }

    .wraps{
        flex-wrap: wrap;
    }
}


/* breackpoint sm minore di 600 */
@media screen and (max-width: 600px) {

    .col-sm-6 {
        width: calc((100% / 12) * 6);
    }

    .col-sm-4 {
        width: calc((100% / 12) * 4);
    }

    .sidebar-sm{
        width: 50px;
    }

    .d-none{
        display: none;
    }

    .content-sm{
        width: calc(100% - 50px);
        overflow-y: auto;
    }

}